body,
html {
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: fontello;
  src:
    url('./fontello/font/fontello.woff2?90734603') format('woff2'),
    url('./fontello/font/fontello.woff?90734603') format('woff'),
    url('./fontello/font/fontello.ttf?90734603') format('truetype'),
    url('./fontello/font/fontello.svg?90734603#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
